@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(161, 197, 255); */
    background: rgb(161, 197, 255);
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.logSign{
    position: relative;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
    margin-bottom: 20px;
}

.login-btn{
    height:38px;
    background: linear-gradient(to right, #0a2f4f, #1e38fe);
    width: 8rem;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    transform: translateY(20px);
}
.sign {
    
    text-align: right;
    width: 100%;
    background-color: red;
    padding: 10px 40px;
    font-weight: 700;
    margin: 20px 0;
    border-radius: 10px;
    color: #131212;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    /* transform: translate(-15px); */
    z-index: 0;

}

.login-form{
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 300px;
    text-align: center;
}

h2{
    font-weight: 700;
    margin-bottom: 20px;
}


form input{
    width: 100%;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
}


form .forgot-password {
    display: block;
    text-align: left;
    color:#1e38fe;
    text-decoration: none;
}
p{
    font-weight: 400;
    font-size: 16px;
}
form button{
    width: 100%;
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(to right, #0a2f4f, #1e38fe);
    border: none;
    cursor: pointer;
    font-weight: 700;
}

form button:hover {
    background: linear-gradient(to right, #1e38fe,  #0a2f4f);
}

form p{
    margin: 20px 0 0;
}

form p a{
    color: #1e38fe;
    text-decoration: none;
}
a{text-decoration: none;}
