@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(161, 197, 255); */
    background: rgb(161, 197, 255);
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login-form{
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 300px;
    text-align: center;
}

h1{
    font-weight: 700;
    font-style: normal;
    margin-bottom: 15px;
}


form input{

    border-radius: 10px;
    padding: px 20px;
    margin-top: 20px;
    background: transparent;
    border: 1px solid rgba(60, 57, 57, 0.3);

}
.forgot-password{
    color:rgb(7, 79, 196);
    margin-top: 5px;
}

p{
    font-weight: 400;
    font-size: 16px;
}
form .btn{
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    background: rgb(7, 79, 196);
    border:0;
    margin-bottom: 20px;
}
form :last-child{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

a{
    padding-left: 2px;
    text-decoration: none;
}