*{
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    width: 100%;
    padding-inline: 10%;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: green;
}
nav .menu-items{
    display: flex;
    gap: 40px;
}
.active{
    border-bottom: 2px solid white;
}
.menu-item a{
    color: gray;
    transition: all 0.3s ease-in;
}
.menu-items a:hover{
    color: azure;
}