*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.firstname{
    width: 200px;
    color: black;
}
label{
    font-size: 40px;
    color: purple;
}
 
input{
    color: blue;
}

input[type="text"]{
    color: red;
}

select{
    color: blue;
}
h1{
    color: tomato;
    text-decoration: underline;
    text-align: center;
}
h1 > span{
    font-size: 100px;
    color: green;
}
/* link style */
a{
    list-style: none;
    text-decoration: none;
    color: gray;
}
a:hover{
    color: red;
}

/* a:visited{
    color:rgb(118, 102, 116);
} */
span:hover{
    color: red;
}