table{
    border: 1px solid red;
    margin: 0 auto;
}
tr:first-child{
    color: red;
}

tr:nth-child(3){
    color: green;
}

tr:nth-child(odd){
    color: blue;
}

tr:nth-child(even){
    background-color: blueviolet;
}

.table::before{
    content: '';
    border: 2px solid rgb(red, green, blue);
    padding-bottom: 20px;
    position: absolute;
    background: red;

}
.image{
    /* width: 100px;
    height: 1000px; */
    border-radius: 80%;
    overflow: hidden;
}


.form{
    position: absolute;
    /* top: 0px;
    left: 0px;
    transform: translate(-50%, -50%); */
}
/* margin: 20px 30px 2px 13px
20px = margin-top
30px = margin-right
2px = margin-bottom
13px = margin-left */

/* padding: 20px 30px 2px 13px
border:: 20px 30px 2px 13px */


