@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #e9e9fb;
}

.container{
    display: flex;
    height: 80vh;
    max-width: 1100px;
    margin: 100px auto 0 auto;
    background: #fff;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0.7px 1.4px 1.4px hsl(0deg, 0%, 0% /0.4);
    border-radius: 20px;
}
.sidebar{
    background: #F1F1FB;
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
}

.img_wrapper{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 40px;
}
.wrapper img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
   
}
.nav_link{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

i{
    font-size: 2rem;
}

.active{
    font-weight: 700;
    border-left: 4px solid red;
    border-radius: 1px;
    padding-left: 10px;
    transform: translateX(-16px);
}
.main_content{
    flex: 2;
    padding: 2rem;
}

.main_content h4{
    margin-top: 50px;
}

.text{
    font-size: 14px;
    color: gray;
    font-weight: 700;
    margin-top: 5px;
}

.content_header{
display: flex;
justify-content: space-between;
color: gray;
margin-top: 40px;
}

.content_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}

.btn{
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
}